<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Webhooky</title>

    {{ style("https://use.fontawesome.com/releases/v5.4.2/css/all.css") }}
    {{ style('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css') }}
    {{ style('style') }}
  </head>
  <body>
    <section class="section">
      <div class="container box">
        <div class="hero is-primary is-bold">
          <div class="hero-body">
            <h1 class="title is-text-centered">{{ title }}</h1>
          </div>
        </div>
        <div class="mt-1em tabs is-centered is-toggle is-toggle-rounded main-menu" id="nav">
          <ul>
            <li>
              <a href="/">
                <span class="icon is-small"><i class="fas fa-home"></i></span>
                <span>Home</span>
              </a>
            </li>
            <li href="/webhooks" class="is-active">
              <a>
                <span class="icon is-small"><i class="fas fa-bezier-curve"></i></span>
                <span>Webhooks</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          @!section('content')
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <a href="https://github.com/DanielBlanco/nodejs_webhook" target="_blank">
            <span class="icon is-large"><i class="fab fa-lg fa-github"></i></span>
          </a>
          <a href="https://twitter.com/dblancorojas" target="_blank">
            <span class="icon is-large"><i class="fab fa-lg fa-twitter"></i></span>
          </a>
		  <a href="https://www.freevector.com/sunset-background-and-canyon-vector-27575#">FreeVector.com</a>
        </p>
      </div>
    </footer>
  </body>
</html>
